doctype html
html
  head
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/style.css')
  body
    script(src="scripts/root.js")
    .header.is-over
      h3#header-text.text-muted.installer UBports Installer (#{global.packageInfo.version})
    button#help.help-button.btn.btn-primary.is-over Report a bug
    button#donate.donate-button.btn.btn-primary.is-over Donate
    #particles-background.vertical-centered-box
    #particles-foreground.vertical-centered-box
    #download-animation(style='display: none').vertical-centered-box.download-animation.is-under
      i.is-under
    #push-animation(style='display: none').vertical-centered-box.push-animation.is-under
      i.is-under
    // Views
    include views/done
    include views/user-action
    include views/select-os
    include views/not-supported
    include views/wait-for-device
    include views/working
    #progress.progress(hidden='hidden')
    footer.footer.is-over
      .container
        h3(style="margin-top: 0").text-muted.footer-top
          span#footer-top UBports Installer is starting up
          span#wait-dot
        p
          span#footer-bottom.text-muted Starting adb service
          span#footer-speed.text-muted
    // --- Modals ---
    include modals/install
    include modals/connection-lost
    include modals/oem-lock
    include modals/legacy-android
    include modals/low-power
    include modals/select-device
    include modals/developer-mode
    include modals/options
    include modals/new-update
    include modals/udev
    include modals/windows-drivers
    include modals/no-network
    include modals/error
  // --- Scripts ---
  // Animated loading screen
  script(src="scripts/particleground.js")
  script(src="scripts/start.js")
  // UI-related event management
  script(src="scripts/ui.js")
  // Functionality-related event management
  script(src="scripts/dots.js")
