doctype html
html
  head
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/style.css')
    title UBports Installer
  body
    .header
      h3.text-muted.installer UBports Installer
    #particles-background.vertical-centered-box
    #particles-foreground.vertical-centered-box
    // Views
    include views/start
    include views/wait-for-device
    include views/not-supported
    include views/installing
    include views/done
    include views/reboot
    include views/install
    #progress.progress(hidden='hidden')
    footer.footer
      #waitForDevice.container(hidden='hidden')
        h3.text-muted.footer-top
          | Waiting for a device
          span#wait-dot
          p.text-muted Connect the device to the computer with a USB cable.
      #device.container
        h3#device-name.text-muted.footer-top
          | UBports Installer is starting up
          p#device-under-text.text-muted Starting adb service...
    // Modals
    include modals/install
    include modals/error
    include modals/password
    include modals/oem-lock
    include modals/select-device
    include modals/developer-mode
    include modals/options
    include modals/windows-drivers
  // Scripts
  include scripts/particleground
  include scripts/start
  include scripts/root
  include scripts/ui
  include scripts/main
  include scripts/dots
