osx_image: xcode7.3
sudo: false
dist: trusty
language: c
matrix:
  include:
  - os: osx
  - os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1
    compiler: clang
cache:
  directories:
  - node_modules
  - "$HOME/.electron"
  - "$HOME/.cache"
addons:
  apt:
    packages:
    - libgnome-keyring-dev
    - icnsutils
    - graphicsmagick
    - xz-utils
install:
- nvm install 6
- npm install
- npm prune
script:
- npm run dist:$([ "$TRAVIS_OS_NAME" == "linux" ] && echo "linux" || echo "mac")
before_deploy:
  - export FILE_TO_UPLOAD=$(ls dist/ubports-installer-*)
deploy:
  provider: releases
  api_key:
    secure: uzaQMgwTnQYUHc48caS4fwBb4jsWV5ZQBel1yuOsP0VChHQD5oUs0L51pORtvKAFLPL2e4YLCodGTsZ5/ii20zvDcAXpMN6RXebruDNVKaLO+Pp80ZlfJJIuK4pI3EAaRxNRB3R4odpYCM1qkG5Y2SM0IG7zLAripSJqyanSD9bCQXwWiAsMoufe9HXyAScM+iAbDWMxCdkWrN9qNmyxF1CQUhhDrdykgJNwx4VQheub+YIWdJF7g3YPerres3+QYl2OHLi/ExJJ1NCxij0E7GB2OnRPUudpyCKyS61lK7fC5dslqEncDTKBUq3c71Dyuy5gKavUd0iUDg4y48AhUe7A3gxcrKdvqNBGXUCAXEx0KY+7CO3rVCFJSheisAWxqLgh7BjoOFNTpFOFqPE5+5cEbm78nqVynoYmB5/kziEq4BKQVUGgsbTRbOODw9v78RtoZGG9NIbiiIocAmsfZD2lMK7h6+w8wnG7RmQesAcqG4x6vS6OMgsvOLi9yNtxh6/ks0OAM35NQQkv5yjxrJfGyXPLzf+OJ1exvrgwdcyMoLwVv3bM51VMDPVscfOctVcrvEa0X0AU8VCpSDUb8DYYnKBPTe0UW/tRzDPdCoBf8lzC/TK2CxGBJSG8kQL/DH6RiJ+SIT+cRwD0oXnMIU8KdRnAzzSH0Z68TgtuELk=
  file_glob: true
  file: "${FILE_TO_UPLOAD}"
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
    all_branches: true
