html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  image-rendering: crisp-edges;
  font-size: 15px;
}

* {
  font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("./fonts/Ubuntu.ttf") format("truetype");
}
