html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  user-select: none;
  image-rendering: crisp-edges;
  font-size: 15px;
}

* {
  font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("./fonts/Ubuntu.ttf") format("truetype");
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}
a {
  color: #337ab7;
}
a:hover {
  color: #286090;
}

.container {
  max-width: 50rem;
}

.svelte-modal-content {
  max-height: 100% !important;
}
