#new-update-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Update available!
      .modal-body
        p You are not running the latest stable version. Using the latest stable release is recommended for most users. You can still use this version, but there might be bugs and issues that do not affect the stable release.
        #generic-update-instructions.p(hidden='hidden') Click the button below to download the latest version.
        #snap-update-instructions.p(hidden='hidden') Run #[code snap refresh ubports-installer --stable] in your terminal to install the latest version.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Dismiss
        button#btn-update-installer.btn.btn-primary(type='button', onclick=`ipcRenderer.send("update")`) Download
  script.
    ipcRenderer.on("user:update-available", () => {
      if (global.packageInfo.isSnap) {
        $("#snap-update-instructions").show();
        $("#btn-update-installer").hide();
      } else {
        $("#generic-update-instructions").show();
      }
      modals.show('new-update');
    });
