#connection-lost-modal.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Connection to device lost
      .modal-body
        p
          | The connection to your device was lost. Please make sure your device is still connected and do not disconnect your device again until the installation is finished.
        b
          | If this continues to happen, you might want to try using a different USB cable. Old cables tend to become less reliable. Please try using a different USB cable and do not touch the device during the installation, unless you are prompted to do so.
      .modal-footer
        button#btn-reconnect.btn.btn-primary(type='button', data-dismiss='modal') Try again
