#error-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Yikes!
      .modal-body
        p The Installation stopped due to a problem. You can choose to ignore this, or re-start the installation process.
        p If this continues to happen, please check if you are affected by  #[a(onclick="shell.openExternal('https://github.com/ubports/ubports-installer/issues')") a known bug].
        p If your problem is not yet known, klick the button below to report a new bug.
        pre#error-body.
          \n
        p#not-latest-stable(hidden='hidden') You are not using the latest stable version of the UBports Installer.
        #generic-update-instructions-error.p(hidden='hidden') You can #[a(onclick="shell.openExternal('https://github.com/ubports/ubports-installer/releases/latest')") download the latest version from GitHub].
        #snap-update-instructions-error.p(hidden='hidden') Run #[code snap refresh ubports-installer --stable] in your terminal to install the latest version.
      .modal-footer
        button.btn.btn-default(type='button', hidden='hidden', data-dismiss='modal', onclick="location.reload(); utils.log.info('STARTING OVER')") Try again
        button.btn.btn-default(type='button', hidden='hidden', data-dismiss='modal', onclick="utils.log.info('ERROR IGNORED')") Ignore
        button#btn-bugreport.btn.btn-primary(type='button') Report a bug
