<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Yikes!</h4>
      </div>
      <div class="modal-body">
        <p>
          <b>Yikes!</b> We ran into a problem, please try again. If this continues to happen, consider reporting a bug.
        </p>
        <pre id="error-body">

        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" hidden="hidden" data-dismiss="modal">Try again</button>
        <button type="button" class="btn btn-primary" id="btn-bugreport">Report a bug</button>
      </div>
    </div>
  </div>
</div>
