#install-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title.user-modal-install-title Read before installing!
      .modal-body
        .modal-install-body
          .modal-install-body-no-wipe
            p
              b NOTE
              | : Installing may in rare cases lead to data loss.
            p
              b NOTE ANDROID
              | : Please note you won't be able to access your Android data and/or apps in Ubuntu Touch.
              |               However the Android data will use storage space, so if you don't want it, please select the "Wipe" option.
            p It's always wise to backup before installing.
        .modal-install-body-switch(hidden='hidden')
          .modal-install-body-no-wipe
            p
              b NOTE
              |  Switching may in rare cases lead to data loss.
            p It's always wise to backup before switch.
        .modal-install-body-wipe(hidden='hidden')
          p
            b NOTE
            |  You have chosen to wipe, this will erase all your data.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal', onclick="ipcRenderer.send('restart');") Cancel
        button#btn-installModal.btn.btn-primary(type='button', data-dismiss='modal', onclick="ipcRenderer.send('install');") Continue
