<div class="modal fade" id="installModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Read before installing!</h4>
      </div>
      <div class="modal-body">
        <p><b>NOTE</b> This will factory reset your device and install Ubuntu touch, this means it will remove all of your data</p>
        <p><b>Make sure to backup all data you want to keep before continuing!</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="btn-installModal" data-dismiss="modal">Install</button>
      </div>
    </div>
  </div>
</div>
