#legacy-android-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title This is a legacy Android device!
      .modal-body
        p If your device is running Android, you might have to #[a(onclick="shell.openExternal('https://docs.ubports.com/en/latest/userguide/install.html#install-on-legacy-android-devices')") install the old Ubuntu Touch version from Canonical] first to unlock the bootloader.
        p #[b The UBports Installer will not work while this device is running Android!]
        p You can follow #[a(onclick="shell.openExternal('https://docs.ubports.com/en/latest/userguide/install.html#install-on-legacy-android-devices')") this step-by-step guide] to unlock your device.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Got it, my device is unlocked!
