<div class="modal fade" id="oem-lock" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Device locked</h4>
      </div>
      <div class="modal-body">
        <p>
          Your device is oem locked, that means installation of third party operating systems like Ubuntu Touch is disabled.
        </p>
        <b>
          Removing the OEM-lock might void your devices warranty. If you want to be sure, please ask your manufacturer or vendor if they allow this. UBports is not responsible and won't replace devices in case of warranty loss. You are responsible for your own actions.
        </b>
        <p>
          Do you want to unlock your device now?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btn-exit" data-dismiss="modal">Abort</button>
        <button type="button" class="btn btn-primary" id="btn-unlock">Unlock</button>
        <i hidden="hidden" id="unlock-prog" class="fa fa-cog fa-spin fa-2x fa-fw hidden"></i>
      </div>
    </div>
  </div>
</div>
