<div class="modal fade" id="password-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Password needed to continue</h4>
      </div>
      <div class="modal-body">
        <p>sudo (your laptop/pc) password needed in order to flash bootimages on your device</p>
        <hr />
        <div class="alert alert-danger" id="password-wrong" role="alert" hidden="hidden">Password was incorrect, please try again</div>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-3 control-label">Password</label>
            <div class="col-xs-9">
              <input type="password" class="form-control" id="password-input">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-password" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
