#password-modal.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Administrator password needed to continue
      .modal-body
        p
          | In order to flash the bootimages on your device, your administrator password is needed. This is the same one you use to install software on this computer.
        #password-wrong.alert.alert-danger(role='alert', hidden='hidden')
          | Access denied, please try again. Are you sure you have entered the correct password?
        hr
        form.form-horizontal
          .form-group
            label.col-xs-3.control-label Password
            .col-xs-9
              input#password-input.form-control(type='password')
      .modal-footer
        button#btn-password.btn.btn-primary(type='button', data-dismiss='modal') OK
