#select-device-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Select your device
      .modal-body
        div
          form.form-horizontal
            .form-group
              label.col-xs-3.control-label Device
              .col-xs-9
                select#device-select.form-control.space
          p Not all #[a(onclick="shell.openExternal('https://devices.ubuntu-touch.io')") Ubuntu Touch devices] are supported by the UBports Installer yet. You can find installation instructions for devices not listed here on #[a(onclick="shell.openExternal('https://devices.ubuntu-touch.io')") devices.ubuntu-touch.io]. If you want to help, you can #[a(onclick="shell.openExternal('https://github.com/ubports/installer-configs/blob/master/v1/_device.schema.json')") contribute a config file] for any device and operating system!
          p Please do not try to install other devices images on your device. #[b It will not work]!
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button#btn-select-device.btn.btn-primary(type='button', data-dismiss='modal') Select
  script.
    ipcRenderer.on("user:os", () => {
      modals.hide("select-device");
    });
