#udev-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Warning!
      .modal-body
        p
          | Please make sure you have the #[a(onclick="shell.openExternal('https://docs.ubports.com/en/latest/userguide/install.html#missing-udev-rules')") required udev-rules] set, or the Installer will not be able to detect your device.
          | If you have already set the required rules, you can dismiss this message and simply continue with the installation.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Dismiss
        button.btn.btn-primary(type='button', data-dismiss='modal', onclick="localStorage.setItem('neverAskForUdevRules', 'true');") Don't ask me again
  script.
    if (process.platform === "linux" && !process.env.SNAP && !localStorage.getItem('neverAskForUdevRules')) {
      setTimeout(() => modals.show('udev'), 1000);
    }