html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  overflow:hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  image-rendering: crisp-edges;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 6;
}
body .vertical-centered-box:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  z-index: 6;
}
body .vertical-centered-box .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
  z-index: 6;
}

.help-button {
  z-index: 10 !important;
  top: 15px !important;
  position: absolute;
  right: 15px !important;
  height: 30px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.donate-button {
  z-index: 10 !important;
  top: 15px !important;
  position: absolute;
  right: 135px !important;
  height: 30px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.ubp-robot-foot {
  bottom: 10px !important;
  position: absolute;
  right: 10px !important;
  width: 50px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.ubp-robot-side {
  position: absolute;
  right: 62% !important;
  bottom: 35% !important;
  width: 118px !important;
}

.ubp-robot {
  bottom: 50%;
  right: 50%;
  margin-bottom: -72px;
  margin-right: -50px;
  text-align: center;
  position: absolute;
  z-index: 10;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  image-rendering: crisp-edges;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

* {
  font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.start-text {
  color: "white";
  font-size: 50px;
  z-index: 6;
}

.is-over {
  z-index: 6;
}

.is-under {
  z-index: -2;
}

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-left: -100px;
  margin-top: -100px;
  z-index: 6;
}
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  overflow: hidden;
  -webkit-transform-origin: 100px 100px;
  -moz-transform-origin: 100px 100px;
  -ms-transform-origin: 100px 100px;
  -o-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
  z-index: 6;
}
.loader-line-mask .loader-line {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  z-index: 6;
}
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  z-index: -1;
}

.push-animation,
.download-animation {
  margin-top: 60px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: -1;
}

.push-animation img,
.download-animation img {
  max-width: 100%;
  height: auto;
  display: block;
}

.push-animation i,
.download-animation i {
  background-repeat: repeat;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.push-animation i,
.download-animation i {
  content: "";
  opacity: 0.5;
}

.download-animation i {
  background-image: url("../img/arrow-down.png");
  animation: download-animation 8s linear infinite;
}

.push-animation i {
  background-image: url("../img/arrow-right.png");
  animation: push-animation 10s linear infinite;
}

@keyframes download-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 1200px;
  }
}

@keyframes push-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 900px 0px;
  }
}

lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
  zoom: 1;
}
.progress {
  position: absolute;
  bottom: 90px;
  width: 0%;
  height: 4px;
  background-color: #E95420;
  margin: 0;
  z-index: 6
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #f5f5f5;
  margin: 0;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 20px 10px;
}
.text-muted .installer {
  display: inline-block;
}
.footer-top {
  margin-top: 0px;
}
.header {
  display: flex;
  height: 60px;
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  top: 0;
}
.header-image {
  width: 120px;
  height: auto;
}
.inst {
  display: flex;
}
.channel-text {
  margin-top: auto;
}
.space {
  margin-right: 4px;
}
.main {
  max-height: 80%;
  margin-top: 60px;
}
.installer {
  display: flex;
  margin-left: 30px;
}
.inst-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.modal .close {
  display: none;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), local('Ubuntu Regular'), local('Ubuntu-Regular'), url('../fonts/Ubuntu.ttf') format('truetype');
}
