<div class="main container" hidden="hidden" id="main-done">
  <div class="row">
    <div class="col-xs-7">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen6.jpg">
    </div>
    <div class="col-xs-5">
      <h4 style="font-weight: bold;">Success!</h4>
      <p>The install process from the computer is done, now the device will do the rest. The device will reboot when it's done, this will take about 5 minutes</p>
    </div>
  </div>
</div>
