#views-done.main.container.views(hidden='hidden')
  .row
    .col-xs-6
      img(style='height: 350px; margin: auto; display: block;', src='../screens/Screen6.jpg')
    .col-xs-6
      h4(style='font-weight: bold;') Success!
      p
        | The installation process from the computer is done. The device will now perform the remaining steps which should take less than five minutes. After the installation, the device will reboot and you can begin to explore Ubuntu Touch.
      p
        | Found something you don't like?  #[a(onclick="shell.openExternal('https://github.com/ubports/ubports-touch')") tell us], or help us change it!
      button.btn.btn-default(type='button', style='width: 100%; margin-bottom: 10px;', onclick="shell.openExternal('https://ubports.com/get-involved')") Get involved
      p
        | Development of Ubuntu Touch is driven by the  #[a(onclick="shell.openExternal('https://ubports.com')") UBports Community]. Donate now to allow us to continue our mission!
      button.btn.btn-primary(type='button', style='width: 100%;', onclick="shell.openExternal('https://ubports.com/donate')") Donate
