<div class="main container views" hidden="hidden" id="views-done">
  <div class="row">
    <div class="col-xs-6">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen6.jpg">
    </div>
    <div class="col-xs-6">
      <h4 style="font-weight: bold;">Success!</h4>
      <p>The install process from the computer is done, now the device will do the rest. The device will reboot when it's done, this will take under 5 minutes</p>
    </div>
  </div>
</div>
