<div class="main container views" hidden="hidden" id="views-installing">
  <div class="row">
    <div class="col-xs-6">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen6.jpg">
    </div>
    <div class="col-xs-6 installing-text">
      <h4 style="font-weight: bold;">Installing</h4>
      <p>Installing Ubuntu Touch on your device</p>
    </div>
    <div class="col-xs-6 installing-text-switch" hidden="hidden">
      <h4 style="font-weight: bold;">Switching</h4>
      <p>Switching your device to UBports</p>
    </div>
  </div>
</div>
