<div class="main container" hidden="hidden" id="main-installing">
  <div class="row">
    <div class="col-xs-7">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen6.jpg">
    </div>
    <div class="col-xs-5">
      <h4 style="font-weight: bold;">Installing</h4>
      <p>Installing Ubuntu Touch on your device</p>
    </div>
  </div>
</div>
