<div class="main container views" hidden="hidden" id="views-install">
  <div class="row">
    <div class="col-xs-6">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen6.jpg">
    </div>
    <div class="col-xs-6" style="height: 100%">
      <h4 style="font-weight: bold;" class="user-install-header">Ready to install!</h4>
      <p>Your device: <a id="your-ubp-device"></a></p>
      <div id="switch-note" hidden="hidden">
        <p>This device is running old canonical images!</p>
      </div>
      <p id="not-working-block"><b>Please note</b> that this device is still under development and that <span id="not-working"></span> is currently not working!</p>
      <h3><small>Install options</small></h3>
      <table class="table">
        <tr>
          <td>Channel</td>
          <td class="user-channel"></td>
        </tr>
        <tr>
          <td>Wipe</td>
          <td class="user-wipe"></td>
        </tr>
      </table>

      <button type="button" id="btn-modal-options" style="width: 100%;" hidden class="btn btn-default">Select install options</button>
      <button type="button" id="btn-inst" style="width: 100%; margin-top: 10px;" hidden class="btn btn-primary">Install</button>
    </div>
  </div>
</div>
