<div class="main container views" hidden="hidden" id="views-not-supported">
  <div class="row">
    <div class="col-xs-6">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen5.jpg">
    </div>
    <div class="col-xs-6">
      <h4 style="font-weight: bold;">Device not supported</h4>
      <p>Your device: <span id="your-device"></span></p>
      <p><b>Sorry</b>, there is no port for this device yet!</p>
      <p>See <a onclick="openurl.open('http://devices.ubports.com')">devices.ubports.com</a> for more info</p>
      <hr>
      <h4 style="font-weight: bold;">You want to try to install anyway?</h4>
      <p>You can try selecting your device manualy, but please only do so if you're sure that your device is actually supported.</p>
      <button type="button" id="btn-modal-select-device" style="width: 100%;" class="btn btn-default">Select device manually</button>
    </div>
  </div>
</div>
