<div class="main container" hidden="hidden" id="main-not-supported">
  <div class="row">
    <div class="col-xs-7">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen5.jpg">
    </div>
    <div class="col-xs-5">
      <h4 style="font-weight: bold;">Device not supported</h4>
      <p>Your device: <span id="your-device"></span></p>
      <p><b>Sorry</b> there is no offical ubports port to to this device yet!</p>
      <p>See <a onclick="openurl.open('http://devices.ubports.com')">devices.ubports.com</a> for more info</p>
    </div>
  </div>
</div>
