#views-reboot-up.main.container.views(hidden='hidden')
  .row
    .col-xs-6
      img(style='height: 350px; margin: auto; display: block;', src='../screens/Screen2.jpg')
    .col-xs-6
      h4(style='font-weight: bold;')
        | Please reboot to
        b#reboot-to-state bootloader
      p
        | The device needs to be in
        b#reboot-to-state bootloader
        |  mode in order to continue. Hold the power button and the volume up button until it reboots.
#views-reboot-down.main.container.views(hidden='hidden')
  .row
    .col-xs-7
      img(style='height: 350px; margin: auto; display: block;', src='../screens/Screen3.jpg')
    .col-xs-5
      h4(style='font-weight: bold;')
        | Please reboot to
        b#reboot-to-state bootloader
      p
        | The device needs to be in
        b#reboot-to-state bootloader
        |  mode in order to continue. Please hold the power button and the volume down button until it reboots.
