<div class="main container views" hidden="hidden" id="views-reboot-up">
  <div class="row">
    <div class="col-xs-6">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen2.jpg">
    </div>
    <div class="col-xs-6">
      <h4 style="font-weight: bold;">Please reboot to <b id="reboot-to-state">bootloader</b></h4>
      <p>We need to be in <b id="reboot-to-state">bootloader</b> mode in order to contiune. Please hold the power button and the volume up button until it reboots</p>
    </div>
  </div>
</div>

<div class="main container views" hidden="hidden" id="views-reboot-down">
  <div class="row">
    <div class="col-xs-7">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen3.jpg">
    </div>
    <div class="col-xs-5">
      <h4 style="font-weight: bold;">Please reboot to <b id="reboot-to-state">bootloader</b></h4>
      <p>We need to be in <b id="reboot-to-state">bootloader</b> in order to contiune. Please hold the power button and the volume down button until it reboots</p>
    </div>
  </div>
</div>
