#views-select-os.main.container.views(hidden='hidden')
  .row
    .col-xs-6
      img(style='height: 350px; margin: auto; display: block;', src='../screens/Screen6.jpg')
    .col-xs-6(style='height: 100%')
      h4.user-install-header(style='font-weight: bold;') Select your Operating System
      p
        | Your device: #[a#your-ubp-device]
      p
        | What operating system do you want to install?
      form.form-horizontal
        .form-group
          .col-xs-9
            select#options-os.form-control.space
      button#btn-inst.btn.btn-primary(type='button', style='width: 100%; margin-top: 10px;', onclick="ipcRenderer.send(\"user:os:select\", getElementById('options-os').selectedIndex); global.installConfig.os_to_install = getElementById('options-os').selectedIndex;") Install
