<div class="vertical-centered-box views" hidden="hidden" id="views-start">
  <div class="content">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
      <div class="loader-line"></div>
    </div>
  </div>
</div>
<img width="100" class="ubp-robot" src="../img/robotnobiug.png" />
