#views-user-action.main.container.views(hidden='hidden')
  .row
    .col-xs-6
      img#user-action-image(style='height: 350px; margin: auto; display: block;', src='../screens/Screen6.jpg')
    .col-xs-6
      h4#user-action-title(style='font-weight: bold;')
      p#user-action-description
      button#user-action-button.btn.btn-primary(hidden="false", type='button', style='width: 100%;') Continue
