#views-wait-for-device.main.container.views(hidden='hidden')
  .row
    .col-xs-6.is-under
      img.is-over(style='height: 350px; margin: auto; display: block;', src='../screens/Screen1.jpg')
    .col-xs-6
      h4(style='font-weight: bold;') Please connect your device
      p Connect the device to the computer with a USB cable.
      p Enable developer mode to allow for your device to be detected automatically.
      p If you want to switch from one channel to another or from Canonical to the UBports version of Ubuntu Touch, please enable developer mode as well.
      button#btn-modal-dev-mode.btn.btn-primary(type='button', style='width: 100%; margin-bottom: 10px;') How do I enable developer mode?
      p If your device is not detected automatically, you can select it manually to proceed.
      button#btn-modal-select-device.btn.btn-default(type='button', style='width: 100%;') Select device manually
