<div class="main container" hidden="hidden" id="main-wait-for-device">
  <div class="row">
    <div class="col-xs-7">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen1.jpg">
    </div>
    <div class="col-xs-5">
      <h4 style="font-weight: bold;">Please connect your device</h4>
      <p>Please connect your device to your pc using a usb cable</p>
      <br />
      <p>Automatic detect only works if your device has developer mode enabled</p>
      <p>Please select device if we can't automatically find your device<p/>
        <div>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-3 control-label">Device</label>
              <div class="col-xs-9">
                <select id="device-select" class="form-control space">
                </select>
              </div>
            </div>
          </form>
          <button type="button" id="btn-device-select" style="width: 100%;" hidden class="btn btn-primary">Select</button>
        </div>
      <p>
        If you want to switch channel or switch from Ubuntu to Ubports on an existing device please enable developet mode.
      </p>
    </div>
  </div>
</div>
