#views-wait-for-device.main.container.views(hidden='hidden')
  .row
    .col-xs-6.is-under
      img.is-over(style='height: 350px; margin: auto; display: block;', src='../screens/Screen1.jpg')
    .col-xs-6
      h4(style='font-weight: bold;') Please connect your device
      p Connect the device to the computer with a USB cable.
      p Automatic detection only works if your device has developer mode enabled
      p
        | If you want to switch channels (including switching from the Canonical to the UBports version of Ubuntu Touch) on an existing Ubuntu device please enable developer mode.
      button#btn-modal-dev-mode.btn.btn-primary(type='button', style='width: 100%; margin-bottom: 10px;') How to enable developer mode
      p
        | If your device is not found, please select it manually.
      button#btn-modal-select-device.btn.btn-default(type='button', style='width: 100%;') Select device manually
