<div class="main container views" hidden="hidden" id="views-wait-for-device">
  <div class="row">
    <div class="col-xs-6">
      <img style="height: 350px; margin: auto; display: block;" src="../screens/Screen1.jpg">
    </div>
    <div class="col-xs-6">
      <h4 style="font-weight: bold;">Please connect your device</h4>
      <p>Please connect your device to your pc using a usb cable</p>

      <p>Automatic detect only works if your device has developer mode enabled</p>

      <p>
        If you want to switch channel or switch from Ubuntu (canonical) to Ubuntu touch (Ubports) on an existing Ubuntu device please enable developet mode.
      </p>
        <button type="button" id="btn-modal-dev-mode" style="width: 100%; margin-bottom: 10px;" class="btn btn-primary">How to enable developer mode</button>

      <p>
        If your device is not found, please select your device manually
      </p>
      <button type="button" id="btn-modal-select-device" style="width: 100%;" class="btn btn-default">Select device manually</button>
    </div>
  </div>
</div>
