[Desktop Entry]
Name=ubports-installer
Comment=UBports Installer
Exec=ubports-installer
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
