script.
  require('jquery')
  window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.js');
  const openurl = require("openurl");
  const devices = require('../devices.js');
  const systemImage = require("../system-image.js");
  const adb = require("../adb.js");
  const utils = require("../utils.js");
  const remote = require('electron').remote;
  const version_info = utils.version;
  require('bootstrap')

  //- export default(){
  //-   version_info: version_info;
  //- }
