script.
  particleground(document.getElementById('particles-foreground'), {
    dotColor: 'rgba(0, 0, 0, 1)',
    lineColor: 'rgba(0, 0, 0, 0.1)',
    minSpeedX: 0.3,
    maxSpeedX: 0.6,
    minSpeedY: 0.3,
    maxSpeedY: 0.6,
    density: 50000,
    curvedLines: false,
    proximity: 250,
    parallaxMultiplier: 10,
    particleRadius: 6,
  });


  particleground(document.getElementById('particles-background'), {
    dotColor: 'rgba(0, 0, 0, 0.9)',
    lineColor: 'rgba(0, 0, 0, 0.1)',
    minSpeedX: 0.075,
    maxSpeedX: 0.15,
    minSpeedY: 0.075,
    maxSpeedY: 0.15,
    density: 30000,
    curvedLines: false,
    proximity: 100,
    parallaxMultiplier: 20,
    particleRadius: 3,
  });
